@import "~@alitajs/theme/lib/index.less";
@import "~antd-mobile/lib/drawer/style/index";
@import "~@alitajs/theme/es/mixins/icon.less";

@prefixCls: alita-filter;

.@{prefixCls} {
  position: fixed;
  width:100%;
  display: flex;

  &-single {
    max-width: 112 * @hd;
  }
}
