@import "~@alitajs/theme/lib/index.less";
@import "~antd-mobile/lib/drawer/style/index";
@import "~@alitajs/theme/es/mixins/icon.less";

@prefixCls: alita-filter;

.@{prefixCls} {
  width: 100%;

  &-popwrapper {
    background-color: #fff;
  }
  &-content {
    display: flex;
  }

  &-single {
    max-width: 112 * @hd;
  }

  &-drawer-item {
    padding: 20 * @hd @v-spacing-lg;
    font-size: @font-size-base;

    &-active {
      color: @color-active;
    }
  }

}
