@import '~@alitajs/theme/es/index.less';
@import '~@alitajs/theme/es/mixins/icon.less';

@prefixCls: alita-search-bar;

.@{prefixCls} {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    &-searchview {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        flex-direction: row;
        overflow: hidden;
    }
    &-search {
        position: absolute;
        top: 50%;
        left: 10 * @hd;
        width: 12 * @hd;
        height: 12 * @hd;
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateY(-50%);
        .svg-search-icon();
    }
    &-input {
        width: 100%;
        height: 36 * @hd;
        padding: 8 * @hd 30 * @hd;
        overflow: hidden;
        border: none;
        background-color: @color-search-bar-bg;
        border-radius: 18 * @hd;
        font-size: 14 * @hd;
        box-sizing: border-box;
        transition: width 0.3s ease-in;
    }
    &-cancel {
        &-box {
            overflow: hidden;
            padding-left: 8 * @hd;
            padding-right: 8 * @hd;
            color: @color-active;
            transform: translateX(0%);
        }
        &-enter {
            transform: translateX(100%);
            &-active {
              transform: translateX(0%);
              transition: transform 200ms ease-in;
            }
        }
        &-exit {
            transform: translateY(0%);
            &-active {
              transform: translateY(100%);
              transition: transform 200ms ease-in;
            }
        }
    }
}