@import '~@alitajs/theme/es/index.less';

@prefixCls: alita-table;

.@{prefixCls} {
  display: flex;
  flex-direction: column;
  background: @fill-base;
  border: @border-width-sm solid @tab-bar-fill;
  border-bottom: 0;
  overflow: scroll;
  > .@{prefixCls}-tr {
    display: flex;
    flex-direction: row;
    > div {
      display: flex;
      align-items: center;
      max-width: 600 * @hd;
      padding: 8 * @hd 12 * @hd;
      border: @border-width-sm solid @tab-bar-fill;
      box-sizing: border-box;
      border-width: 0 @border-width-sm @border-width-sm 0;
      &:last-child {
        border-right: 0;
      }
    }
  }
  &-th {
    background: @fill-grey;
    color: @color-text-paragraph;
  }
  &-td {
    color: @color-text-paragraph;
  }
  &::-webkit-scrollbar {
    width: 0 !important;
    display: none !important;
  }

}

.@{prefixCls}-th-complex {
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    width: 100 * @hd;
    height: 1 * @hd;
    display: inline-block;
    transform: rotate(29deg);
    background: @tab-bar-fill;
    top: 25 * @hd;
    left: -5 * @hd;
    z-index: 3;
  }
  .top,
  .bottom {
    position: absolute;
    color: @border-color-base;
    background: transparent;
  }
  .top {
    top: 2 * @hd;
    right: 5 * @hd;
  }
  .bottom {
    left: 5 * @hd;
    bottom: 2 * @hd;
  }
}
