@import '~@alitajs/theme/index';

@prefixCls: alita-search-pop-view;

.@{prefixCls} {
    position: fixed;
    // top: 0;
    right: 0;
    left: 0;
    z-index: @popup-zindex;
    overflow: hidden;
    max-height: 0;
    background-color: @fill-base;
    &-wrapper {
        max-height: 999999 * @hd;
    }
    &-animation {
        overflow: auto;
        max-height: 50vh;
        visibility: hidden;
        transform: translateY(-100%);
        transition: transform 0.3s cubic-bezier(1, 0, 1, 1), visibility 0.3s ease-in-out;
    }
    &-show {
        transform: translateY(0);
        visibility: visible;
    }
}

.@{prefixCls}-flag {
    position: relative;
    height: 0;
}

.@{prefixCls}-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @popup-zindex;
}