@import '~@alitajs/theme/es/index.less';
// @import '~@alitajs/theme/es/mixins/icon';


@prefixCls: alita-card;

.@{prefixCls} {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 16 * @hd;
    overflow: hidden;
    background: @fill-base;
    border-radius: 6 * @hd;
}
