@import '~@alitajs/theme/lib/index.less';

@prefixCls: alita-calendar-month;

.@{prefixCls} {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 @v-spacing-sm;
    border-top: 1px solid @color-split-line;
}