@import "~antd-mobile/lib/style/index.less";

@brand-blue: #0089FF; // 主题蓝色
@color-box-shadow: rgba(0, 0, 0, 0.2); // 阴影颜色
@color-background-gray: #eee; // 背景灰色
// 背景色
@fill-title-bg: #ecf8ff; // 标题的背景色

//主题色
@brand-primary: #007aff; // 主题色
@opacity-active: 0.7; // 按钮活跃透明度

//字体颜色
@color-text-caption-md: #666; // 辅助描述
@color-text-disabled: #ccc; // 不可使用文字颜色
@color-text-caption-xs: #999;
@color-text-sharp: #343438;
@color-split-line: #F6F8FA; // 分割线颜色
@color-active: #1677FF; // 选中颜色
@color-search-bar-bg: #F7F7F7; // searchBar 背景颜色

//边框颜色
@border-color-base-alita: #e1e1e1; // eg: 流程轨迹的边框